 
@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Dancing+Script:wght@400..700&display=swap');
body{
    background-color:rgb(227, 12, 12);
   
}


header{
    padding: 32px;
    border-bottom: 1px solid;
    background-color: black;
}
 header div {
    text-align: center;
}
header div a {
   color: rgb(243, 242, 242);
   font-size: 20px;
   line-height: 30px;
   margin:0 16px;
   text-decoration:none ;
   font-family: "Climate Crisis", sans-serif;


}
header div a:hover {
    color:goldenrod;
    transition:color 100ms;


}
        
 *{
    margin: 0;
    border: 0;
    padding: 0;
 }   
 